$white: #FFFFFF;
$black: #000000;
$grey: #313131;
$lightGrey: #C4C4C4;


$fonts: ('NotoSans', 'Regular', 400),
('NotoSans', 'Light', 300),
('NotoSans', 'Medium', 500),
('NotoSans', 'SemiBold', 600);

@each $name,
$type,
$weight in $fonts {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$name}-#{$type}.ttf');
        font-weight: $weight;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: $white;

    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 15px;
    width: 100%;
}


img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.btn {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: inline-block;
    text-align: center;
    padding: 13px 28px;
    color: $white;
    background: $grey;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    font-family: 'NotoSans';
    font-weight: 400;
    outline: none;
        border: none;

    &-buy {
        opacity: 0;
        font-size: 14px;
        line-height: 19px;
        font-family: 'NotoSans';
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 35px;
        margin-top: 10px;
        margin-bottom: 18px;
        background:$grey;
        color: $white;
        outline: none;
        border: none;
        transition: all ease 0.4s;

    }
}