section.adv 
    .container 
        .adv__inner 
            img.adv__img(src="./images/plastationVR.webp", alt="")
            .adv__content
                h2.adv__title Plastation VR
                p.adv__description Over 500 games and experiences and counting. See them all    
                a.btn.adv__btn(href="#") LEARN MORE 