main.main.wrapper 
    section.main__section.cards
        .container
            h2.cards__blockTitle Apple
            .cards__inner
                .cards__wrapper
                    .cards__card
                        img.cards__img(src="./images/ip12pm.webp", alt="")
                        a.cards__title(href="#") IPhone 12 Pro Max 128GB (Gray)
                        p.cards__price  1300$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/ip11p128.webp", alt="")
                        a.cards__title(href="#") IPhone 11 Pro 128GB (Yellow)
                        p.cards__price  700$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/ip12p256.webp", alt="")
                        a.cards__title(href="#") IPhone 12 Pro 256 GB (Blue)
                        p.cards__price  1500$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/ip11p256.webp", alt="")
                        a.cards__title(href="#") IPhone 11 Pro 256 GB (Red)
                        p.cards__price  850$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                a.btn(href="#")  LEARN MORE 
    
    section.main__section.cards
        .container
            h2.cards__blockTitle Samsung
            .cards__inner
                .cards__wrapper
                    .cards__card
                        img.cards__img(src="./images/sgA51.webp", alt="")
                        a.cards__title(href="#") Samsung Galaxy A51 4/64GB (Black)
                        p.cards__price  230$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/sgA215.webp", alt="")
                        a.cards__title(href="#") Samsung Galaxy A21S 3/32GB (Blue)
                        p.cards__price  250$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/sgS10Light.webp", alt="")
                        a.cards__title(href="#") Samsung Galaxy S10Lite 6/128GB (Blue)
                        p.cards__price  535$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/sgA41.webp", alt="")
                        a.cards__title(href="#") Samsung Galaxy A41 4/64GB (Blue)
                        p.cards__price  237$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                a.btn(href="#")  LEARN MORE 

    section.main__section.cards
        .container
            h2.cards__blockTitle Xiaomi
            .cards__inner
                .cards__wrapper
                    .cards__card
                        img.cards__img(src="./images/m10p.webp", alt="")
                        a.cards__title(href="#") Mi 10t Pro 8/256GB (Black)
                        p.cards__price  730$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/xm10p.webp", alt="")
                        a.cards__title(href="#") Xiaomi mi 10t Pro 8/256GB (Silver)
                        p.cards__price  727$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/m10grey.webp", alt="")
                        a.cards__title(href="#") Mi 10 Lite 6/64GB (Grey)
                        p.cards__price  337$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/m10blue.webp", alt="")
                        a.cards__title(href="#") Mi 10 Lite 6/64GB (Blue)
                        p.cards__price  325$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                a.btn(href="#")  LEARN MORE  

    section.tape 
        .tape__inner
            .container
                .tape__content
                    img.tape__img(src="./images/xbox.webp", alt="")
                    .tape__box
                        h2.tape__title Xbox Wireless Controller
                        p.tape__description Textured triggers and bumpers I Hybrid D-pad I Button mapping I Bluetooth
                    button.btn.tape__btn ADD TO CART
            .tape__line

    .pagination 
        .container 
            .pagination__inner
                ul.pagination__list
                    li.pagination__list-item.active
                        a.pagination__link(href="#") 1
                    li.pagination__list-item
                        a.pagination__link(href="#") 2
                    li.pagination__list-item
                        a.pagination__link(href="#") 3
                    li.pagination__list-item
                        a.pagination__link-next(href="#") NEXT