footer.footer 
    .container 
        .footer__inner 
            .footer__logo 
                img.footer__logo-img(src="./images/footer-logo.webp", alt="")
            .footer__info 
                .footer__box 
                    p.footer__description Subscribe to Newslatter
                    .footer__bar 
                        input.footer__text(type="text")
                        input.footer__btn(type="button", value="SING UP", onclick="document.location.reload()")
                ul.footer__midList 
                    li.footer__midList-item 
                        a.footer__link-text News
                    li.footer__midList-item 
                        a.footer__link-text Help
                    li.footer__midList-item 
                        a.footer__link-text Contat
            .footer__soc 
                ul.footer__lastList 
                    li.footer__lastList-item    
                        img.footer_lastList-img(src="./images/telega.svg", alt="")
                    li.footer__lastList-item    
                        img.footer_lastList-img(src="./images/facebook.svg", alt="")
                    li.footer__lastList-item    
                        img.footer_lastList-img(src="./images/insta.svg", alt="")