header.header
    nav.header__nav 
        .prenav
            .container
                ul.prenav__list 
                    li.prenav__item-lang 
                        .prenav__langs 
                            .prenav__langs-box
                                p.prenav__langs-title English
                                img.prenav__langs-arrow(src="./images/prenav__arrow.svg", alt="")    
                            .prenav__langs-content
                                .prenav__langs-item.en.active English
                                .prenav__langs-item.ru Russian
                    li.prenav__item-tel
                        a.prenav__tel(href="tel:9075550101") (907) 555-0101
                    li.prenav__item-signIn
                        a.prenav__signIn(href="") Sing in
                    li.prenav__item-cart
                        a.prenav__cart(href="")  Cart
        .search
            .container
                .search__inner  
                    .logo.search__logo
                        img(src="./images/logo.webp", alt="") 
                    .search__box
                        input.search__term(type="text", placeholder='What are you looking for?')
                        button.search__button(type="submit") SEARCH OUR STORE
                            i.fa.fa-search        
        nav.selects
            .container 
                .selects__inner 
                    ul.select__list 
                        li.select__list-item
                            a.select__list-link(href=" ")  Cell Phones & Tablets           
                            .select__content.cellAndTabl
                                .select__content-right 
                                    a.select__content-title(href="#") Cell Phones       
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") Nokia
                                    a.select__content-link(href="#") Inoi
                                    a.select__content-link(href="#") Vivo     
                                .select__content-left 
                                    a.select__content-title(href="#") Tablets                
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") More...
                        li.select__list-item
                            a.select__list-link(href=" ")  Computers & Laptop           
                            .select__content.cellAndTabl
                                .select__content-right 
                                    a.select__content-title(href="#") Cell Phones       
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ  
                                    a.select__content-link(href="#") Nokia
                                    a.select__content-link(href="#") Inoi
                                    a.select__content-link(href="#") Vivo     
                                .select__content-left 
                                    a.select__content-title(href="#") Tablets                
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") More...
                        li.select__list-item
                            a.select__list-link(href=" ")  TV & Video           
                            .select__content.cellAndTabl
                                .select__content-right 
                                    a.select__content-title(href="#") Cell Phones       
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") Nokia
                                    a.select__content-link(href="#") Inoi
                                    a.select__content-link(href="#") Vivo     
                                .select__content-left 
                                    a.select__content-title(href="#") Tablets                
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") More...
                        li.select__list-item
                            a.select__list-link(href=" ")  Asseccories            
                            .select__content.cellAndTabl
                                .select__content-right 
                                    a.select__content-title(href="#") Cell Phones       
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") Nokia
                                    a.select__content-link(href="#") Inoi
                                    a.select__content-link(href="#") Vivo     
                                .select__content-left 
                                    a.select__content-title(href="#") Tablets                
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") More...
                        li.select__list-item
                            a.select__list-link(href=" ")  Home appliance              
                            .select__content.cellAndTabl
                                .select__content-right 
                                    a.select__content-title(href="#") Cell Phones       
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") Nokia
                                    a.select__content-link(href="#") Inoi
                                    a.select__content-link(href="#") Vivo     
                                .select__content-left 
                                    a.select__content-title(href="#") Tablets                
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") More...
                        li.select__list-item
                            a.select__list-link(href=" ")  Video Games & Consoles               
                            .select__content.cellAndTabl
                                .select__content-right 
                                    a.select__content-title(href="#") Cell Phones       
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") Nokia
                                    a.select__content-link(href="#") Inoi
                                    a.select__content-link(href="#") Vivo     
                                .select__content-left 
                                    a.select__content-title(href="#") Tablets                
                                    a.select__content-link(href="#") Xiaomi
                                    a.select__content-link(href="#") Apple
                                    a.select__content-link(href="#") Samsung
                                    a.select__content-link(href="#") Huawei
                                    a.select__content-link(href="#") BQ
                                    a.select__content-link(href="#") More...
            
                                                                