section.item 
    .container 
        .item__inner 
            .item__left 
                .item__box 
                    img.item__miniImg(src="./images/showIP1.webp", alt="")
                    img.item__miniImg(src="./images/showIP2.webp", alt="")
                    img.item__miniImg(src="./images/showIP3.webp", alt="")
                img.item__mainImg(src="./images/showIPmain.webp", alt="")
            .item__right 
                h2.item__title Apple iPhone 12 Pro Max 128GB (Gray)
                p.item__prise 1300$
                h3.item__listTitle Product Highlights
                ul.item__list 
                    li.item__list-item 
                        p.item__description 128 GB ROM         
                    li.item__list-item 
                        p.item__description 13.72 cm (5.4 inch) Super Retina XDR Display         
                    li.item__list-item 
                        p.item__description 12MP + 12MP | 12MP Front Camera        
                    li.item__list-item 
                        p.item__description A14 Bionic Chip with Next Generation Neural Engine Processor       
                    li.item__list-item 
                        p.item__description Ceramic Shield        
                    li.item__list-item 
                        p.item__description IP68 Water Resistance       
                    li.item__list-item 
                        p.item__description All Screen OLED Display       
                    li.item__list-item 
                        p.item__description The shipment for this product will begin from 14th November 2020
                .item__btns 
                    button.btn.btn__cart CART        
                    button.btn.btn__buyNow BUY NOW         

                    






