main.main__wrapper
    section.main__section.grid
        .container
            .grid__inner 
                .grid__wrapper 
                    .grid__card 
                        img.grid__img(src="./images/main__watch.webp", alt="")
                        .grid__description    
                            span.grid__span -57%
                            .grid__description-box 
                                a.grid__title(href="#")  Suunto SS050143000
                                p.grid__prise 70$
                        
                    .grid__card 
                        img.grid__img(src="./images/main__pods.webp", alt="")
                        .grid__description    
                            span.grid__span -30%
                            .grid__description-box 
                                a.grid__title(href="#")  Airpods 2.1
                                p.grid__prise 95$ 
                    .grid__card 
                        img.grid__img(src="./images/main__bank.webp", alt="")
                        .grid__description    
                            span.grid__span -20%
                            .grid__description-box 
                                a.grid__title(href="#")  Xiaomi Mi Power Bank 2s 10000
                                p.grid__prise 9$  
                    .grid__card 
                        img.grid__img(src="./images/main__remax.webp", alt="")
                        .grid__description    
                            span.grid__span -10%
                            .grid__description-box 
                                a.grid__title(href="#")  Remax RP-W1 White
                                p.grid__prise 11$  
                a.btn(href="#")  LEARN MORE
        
    section.main__section.cards
        .container
            h2.cards__blockTitle Cell Phone
            .cards__inner
                .cards__wrapper
                    .cards__card
                        img.cards__img(src="./images/ip12pm.webp", alt="")
                        a.cards__title(href="#") IPhone 12 Pro Max 128GB (Gray)
                        p.cards__price  1300$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/ip11p128.webp", alt="")
                        a.cards__title(href="#") IPhone 11 Pro 128GB (Yellow)
                        p.cards__price  700$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/ip12p256.webp", alt="")
                        a.cards__title(href="#") IPhone 12 Pro 256 GB (Blue)
                        p.cards__price  1500$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/ip11p256.webp", alt="")
                        a.cards__title(href="#") IPhone 11 Pro 256 GB (Red)
                        p.cards__price  850$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                a.btn(href="#")  LEARN MORE    

    section.main__section.cards
        .container
            h2.cards__blockTitle Computers & Laptop
            .cards__inner
                .cards__wrapper
                    .cards__card
                        img.cards__img(src="./images/lenovoIP.webp", alt="")
                        a.cards__title(href="#") Lenovo IdeaPad L3 15IML05
                        p.cards__price  1350$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/dreamMachine.webp", alt="")
                        a.cards__title(href="#") Dream Machines G1650Ti-15UA65
                        p.cards__price  1430$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/appleMac.webp", alt="")
                        a.cards__title(href="#") Apple MacBook Air 13" 2020
                        p.cards__price  1723$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/dreamMachine15.webp", alt="")
                        a.cards__title(href="#") Dream Machines 15UA51
                        p.cards__price  1200$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                a.btn(href="#")  LEARN MORE    

    section.main__section.banner
        .container 
            .banner__inner 
                img.banner__img(src="./images/ps5.webp", alt="")
                .banner__box 
                    img.banner__logo(src="./images/ps5-logo.webp", alt="")
                    h2.banner__title PlayStation 5 Console
                    a.btn WATCH NOW
                

    section.main__section.cards
        .container
            h2.cards__blockTitle Top seller
            .cards__inner
                .cards__wrapper
                    .cards__card
                        img.cards__img(src="./images/smartWatch.webp", alt="")
                        a.cards__title(href="#") Smart Watch W34 | ZM (White)
                        p.cards__price 29$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/airPods.webp", alt="")
                        a.cards__title(href="#") AirPods 2.1
                        p.cards__price  135$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/smartWatch2.webp", alt="")
                        a.cards__title(href="#") Smart Watch W34 | ZM (Black)
                        p.cards__price  29$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                    .cards__card
                        img.cards__img(src="./images/coffeMachine.webp", alt="")
                        a.cards__title(href="#") Coffee machine VITEK VT-1526
                        p.cards__price  78$
                        button.btn-buy BUY
                        img.cards__heart(src="./images/heart.svg", alt="")
                a.btn(href="#")  LEARN MORE


