.slider
    .container 
        .slider__inner 
            .slider__line
                .slider__slide
                    img.slider__img(src="./images/slider__slide1.webp" alt="")
                    .slider__description 
                        h2.slider__title Color your days with <br> small joy
                        a.slider__btn(href="") SHOP NOW                                    
                .slider__slide
                    img.slider__img(src="./images/slider__slide2.webp" alt="")
                    .slider__description 
                        h2.slider__title Color your days with <br> small joy
                        a.slider__btn(href="") SHOP NOW                                
                .slider__slide
                    img.slider__img(src="./images/slider__slide1.webp" alt="")
                    .slider__description 
                        h2.slider__title Color your days with <br> small joy
                        a.slider__btn(href="") SHOP NOW                                 
            .slider__pagination 
                .slider__round.active                                         
                .slider__round                                         
                .slider__round      